---
import Layout from '../../layouts/Layout.astro';
import FloatingDots from '../../components/FloatingDots.astro';
import HeroSection from '../../components/HeroSection.astro';
import AboutSection from '../../components/AboutSection.astro';
import ProcessSection from '../../components/ProcessSection.astro';
import FooterSection from '../../components/FooterSection.astro';
import { en } from '../../i18n/en';

const t = en;
---

<Layout title={t.meta.title} description={t.meta.description} lang={t.lang}>
  <FloatingDots />
  <main>
    <HeroSection scroll={t.hero.scroll} />
    <AboutSection
      titleLine1={t.about.titleLine1}
      titleLine2={t.about.titleLine2}
      subtitle={t.about.subtitle}
      services={t.about.services}
    />
    <ProcessSection title={t.process.title} stages={t.process.stages} />
    <FooterSection
      headingLine1={t.footer.headingLine1}
      headingLine2={t.footer.headingLine2}
      subtext={t.footer.subtext}
      cta={t.footer.cta}
      copyright={t.footer.copyright}
    />
  </main>
</Layout>

<style>
  main {
    min-height: 500vh;
  }
</style>
